@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-image: url(../imgs/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-position: cover;
    background-size: contain;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    transform: scale(1.5);
    overflow: hidden;
}

.texto-container {
    color: #fff;
    width: 300px;
    margin-right: 60px;
}

.texto-inner h1 {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 11px;
}

.texto-inner p {
    font-size: 1.5rem;
    font-weight: 400;
}

.formulario {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 22px 22px;
    border-radius: 5px;
    width: 340px;
    height: 378px;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.item.span-ativo {
    margin-bottom: 0px;
}

.formulario .input {
    border: solid 1px #000;
    padding: 8px 0px 9px 10px;
    border-radius: 5px;
}

.formulario .input::placeholder {
    color: #a8a8a8;
    font-weight: 700;
    font-size: 1.5rem;
}

.formulario .input:focus {
    outline: none;
}

#mensagem {
    padding: 8px 195px 75px 10px;
}

.item#mensagem {
    margin-bottom: 7px;
}

.formulario p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.item span {
    color: #F52E2E;
    font-size: 0.8rem;
    font-weight: 400;
    display: none;
}

#enviar {
    background-color: #3CCC87;
    border: none;
    color: #fff;
    padding: 12px 125px;
    border-radius: 5px;
    transition: 0.2s ease;
}

#enviar:hover {
    cursor: pointer;
    background-color: #29f090;
}

.formulario .input.correto {
    border: solid 1px #00C22B;
}

.formulario .input.incorreto {
    border: solid 1px #F52E2E;
}

.item span.ativo {
    display: inline;
    margin-bottom: 6px;
}
